node_modules
temp
dist
build
.sass-cache
app/bower_components
app/scripts/common/templates.js
app/styles/*.css
.tmp/
*.sublime-*
*compiled.js
platforms/android/assets/www
platforms/*/ant-*
platforms/*/*/ant-*
npm-debug.log